/* Start Varibules */
:root {
  /* colors */
  --main-color:#B18E4B;
  --main-text-color:#ececec;
  --disaple-text-color:#B5B3B3 ;
  --background-color: #232323;
  --background-color-alt: #292929;
  --seprator-color: #484848;
  /* labtop sizing varibules  */
  --lab-xxl-size: 48px;
  --lab-xl-size: 32px;
  --lab-l-size: 24px;
  --lab-m-size: 21px;
  --lab-xs-size: 18px;
  --lab-s-size: 16px;
  /* Tablet sizing varibules  */
  --tab-xxxl-size: 42px;
  --tab-xxl-size: 32px;
  --tab-xl-size: 24px;
  --tab-l-size: 21px;
  --tab-m-size: 18px;
  --tab-xs-size: 16px;
  --tab-s-size: 14px;
  /* mobile sizing varibules  */
  --mob-xxxl-size: 32px;
  --mob-xxl-size: 24px;
  --mob-xl-size: 21px;
  --mob-l-size: 18px;
  --mob-m-size: 16px;
  --mob-xs-size: 14px;
  --mob-s-size: 10px;
  /* another varibules */
  --main-border-radius: 10px;
  --main-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.light-them {
    --main-color: #B18E4B;
    --main-text-color: #333333; 
    --disaple-text-color: #9E9E9E; 
    --background-color: #F5F5F5; 
    --background-color-alt: #F5F5F5; 
    --seprator-color: #BDBDBD; 
  }
  /* End Varibules */
  /* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
    scrollbar-color:  var(--main-color) var(--background-color);
    scrollbar-width: thin;
  }
body {
    font-family: "Almarai", sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
  }
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
a {
    text-decoration: none;
  }
::-webkit-scrollbar {  
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color-alt);
}

input{
  background-color: var(--background-color);
  margin-bottom: 5px ;
}
input{
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
input:focus{
  outline: 2px solid var(--main-color) ;
  color: var(--main-text-color);
  caret-color: var(--main-color);  
}
input::placeholder{
 color: var(--disaple-text-color);
 font-size: var(--lab-xs-size);
}
/* tablet */
@media (max-width: 768px) {
  input::placeholder {
    font-size: var(--tab-xs-size);
  }
}
/* phone */
@media (max-width: 576px) {
  input::placeholder {
    font-size: var(--mob-xs-size);
  }
}
/* استهداف جميع القوائم المنسدلة */
select { 
  background-color:var(--background-color); /* خلفية القائمة */
  font-size: var(--lab-s-size); /* حجم الخط */
  color: var(--main-text-color); /* لون النص */
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;;
  border-radius: 5px;
}
select:focus {
  outline: 2px solid var(--main-color) ;
  border: none;
  background-color: var(--background-color-alt);
}

/* استهداف خيارات القوائم المنسدلة */
select option::selection {
  padding: 8px; 

}
/* فئة تمنع التمرير عند فتح القائمة الجانبية */
.no-scroll {
  overflow: hidden;
}

.container {
    padding: 0 15px 0;
    margin: 0 auto 0;
  }
  /* phone */
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  /* tablet */
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  /* laptop */
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  /* screen */
@media (min-width: 1200px) {
    .container {
      max-width: 1180px;
    }
  }
/* ====================================     common componant     ================================================= */
/* Start main product box  */
.product-box{
  background-color: var(--background-color-alt);
  width: 280px; /*عرض المنتج*/
  height:360px; /*طول المنتج*/
  margin: 10px 10px 20px ;
  box-shadow: var(--main-shadow);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
/* tab media */
@media (max-width: 868px) {
  .product-box {
    width: 240px; /*عرض المنتج*/
    height:310px; /*طول المنتج*/
    margin: 10px 10px 20px ;
  }
}
/* mobile media */
@media (max-width: 576px) {
  .product-box {
    width: 210px; /*عرض المنتج*/
    height:280px; /*طول المنتج*/
    margin: 10px 8px 15px ;
  }
}
.product-box a {
  position: relative;
}
.product-box a button {
  background: none;
  border: none;
}
.product-box .add-to-fav {
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 4;
}
.product-box .add-to-fav i {
  color: var(--main-color);
  font-size: var(--lab-l-size);
}
.product-box .product-image{
  position: relative;
  width: 100%;
  height: 60%;
}
.product-box .product-image img{
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
}
.product-box .product-image span {
  visibility: hidden;
}
.product-box.offer .product-image span{
  visibility: visible;
  background-color: red;
  color: #ffffff;
  font-size: var(--lab-xs-size);
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  border-top-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
}
/* tab media */
@media (max-width: 868px) {
  .product-box.offer .product-image span {
    font-size: var(--tab-xs-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .product-box.offer .product-image span {
    font-size: var(--mob-xs-size);
    padding: 5px 8px;
  }
}
.product-box .product-info{
  position: relative;
  padding: 15px ;
}
.product-box .product-info .product-name{
  font-size: var(--lab-m-size);
  color: var(--main-text-color);
  padding-bottom: 10px;
}
.product-box .product-info .product-description{
  font-size: var(--lab-s-size);
  color: var(--disaple-text-color);
  padding-bottom: 20px;
}
.product-box .product-info .product-price{
  position: relative;
  font-size: var(--lab-m-size);
  color: var(--main-text-color);
  letter-spacing: 2px;
}
/* tab media */
@media (max-width: 868px) {
  .product-box .product-info {
    padding: 10px;
  }
  .product-box .product-info .product-name {
    font-size: var(--tab-m-size);
  }
  .product-box .product-info .product-description{
    font-size: var(--tab-s-size);
    padding-bottom: 15px;
    line-height: 18px;
  }
  .product-box .product-info .product-price{
    font-size: var(--tab-m-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .product-box .product-info {
    padding: 8px;
  }
  .product-box .product-info .product-name {
    font-size: var(--mob-m-size);
    margin-bottom: 5px;
  }
  .product-box .product-info .product-description{
    font-size: var(--mob-s-size);
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 15px;
  }
  .product-box .product-info .product-price{
    font-size: var(--mob-m-size);
    margin-bottom: 8px;
  }
}
.product-box .product-info .product-price .new{
  visibility: hidden;
  display: none;
}
.product-box.offer .product-info .product-price .old{
  color: var(--disaple-text-color);
}
.product-box.offer .product-info .product-price .new{
  visibility: visible;
  display: inline-block;
}
.product-box.offer .product-info .product-price .old::after{
  content: '';
  position: absolute;
  top: 45%;
  right: -1%;
  width: 12%;
  height: 2px;
  background-color: var(--disaple-text-color);
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}
/* End main product box  */
/* Start specific product box  */
/* Tab media  */
@media (max-width: 792px) {
  /* .searched-products .products-cards {
    flex-direction: column;
    flex-wrap: nowrap;
  } */
  .specific {
    width: 100%; 
  }
  .specific .product-box {
    position: relative;
    width: 90%;
    height: 220px;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
  }
  .specific .product-box a{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .product-box .add-to-fav {
    top: 5%;
    right: 93%;
  }
  .product-box .add-to-fav i {
    font-size: var(--tab-xxl-size);
  }
  .specific .product-box .product-image{
    min-width: 180px;
    width: 250px;
    max-width: 300px;
    height: 100%;
  }
  .specific .product-box .product-image img {
    border-top-left-radius: 0px ;
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
  }
  .specific .product-box.offer .product-image span{
    position: absolute;
    top: 4%;
    left: 58%;
    z-index: 2;
    padding: 5px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .specific .product-box .product-info{
    padding: 20px 15px 10px ;
  }
  .specific .product-box .product-info .product-name {
    font-size: var(--tab-xl-size);
    padding-bottom: 20px;
  }
  .specific .product-box .product-info .product-description {
    font-size: var(--tab-m-size);
    word-spacing: 4px;
  }
  .specific .product-box .product-info .product-price {
    position: absolute;
    bottom: 15px;
    font-size: var(--tab-xl-size);
  }
  .specific .product-box.offer .product-info .product-price .old::after {
    width: 28%;
  }
}
/* small tab media */
@media (max-width: 692px) {
  .product-box .add-to-fav i {
    font-size: var(--tab-xl-size);
  }
} 
/* mobile media */
@media (max-width: 596px) {
  .specific .product-box {
    height: 180px;
  }
  .product-box .add-to-fav {
    right: 92%;
  }
  .product-box .add-to-fav i {
    font-size: var(--mob-xxl-size);
  }
  .specific .product-box .product-image{
    min-width: 160px;
    max-width: 200px;
  }
  .specific .product-box.offer .product-image span{
    left: 66%;
    font-size: var(--mob-s-size);
  }
  .specific .product-box .product-info .product-name {
    font-size: var(--mob-xl-size);
    padding-bottom: 15px;
  }
  .specific .product-box .product-info .product-description {
    font-size: var(--mob-m-size);
    word-spacing: 2;
  }
  .specific .product-box .product-info .product-price {
    font-size: var(--mob-xl-size);
    bottom: 5px;
    left: 20px;
  }
}
/* small mobile media */
@media (max-width: 486px) {
  .specific .product-box {
    height: 150px;
  }
  .product-box .add-to-fav {
    right: 91%;
  }
  .product-box .add-to-fav i {
    font-size: var(--mob-xl-size);
  }
  .specific .product-box .product-image{
    min-width: 125px;
    max-width: 180px;
  }
  .specific .product-box.offer .product-image span{
    left: 63%;
    font-size: var(--mob-s-size);
    padding: 2px 5px;
  }
  .specific .product-box .product-info{
    padding: 12px 10px 8px ;
  }
  .specific .product-box .product-info .product-name {
    font-size: var(--mob-l-size);
    padding-bottom: 8px;
  }
  .specific .product-box .product-info .product-description {
    font-size: var(--mob-xs-size);
  }
  .specific .product-box .product-info .product-price {
    font-size: var(--mob-l-size);
    bottom: 2px;
  }
  .specific .product-box.offer .product-info .product-price .old::after{
    width: 26%;
  }
}
/* very small mobile media */
@media (max-width: 396px) {
  .specific .product-box {
    height: 120px;
  }
  .product-box .add-to-fav {
    top: 7%;
  }
  .product-box .add-to-fav i {
    font-size: var(--mob-l-size);
  }
  .specific .product-box .product-image{
    min-width: 100px;
    max-width: 120px;
  }
  .specific .product-box.offer .product-image span{
    left: 59%;
    font-size: var(--mob-s-size);
    padding: 2px 5px;
  }
  .specific .product-box .product-info{
    padding: 12px 10px 8px ;
  }
  .specific .product-box .product-info .product-name {
    font-size: var(--mob-m-size);
    padding-bottom: 8px;
  }
  .specific .product-box .product-info .product-description {
    font-size: var(--mob-s-size);
  }
  .specific .product-box .product-info .product-price {
    font-size: var(--mob-m-size);
    left: 10px;
  }
}
/* End specific product box  */


/* ============================ Home Page & essintial componant ================================================= */
/* Start Header  */
.header {
  background-color: var(--background-color-alt);
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 5;
}
.header .upper-part {
  position: absolute;
  top: 0;
  padding: 0 30px;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .upper-part .icons .menu, .bell {
  color: var(--main-text-color);
  font-size: var(--lab-l-size);
  margin-left: 10px;
  cursor: pointer;
}
.header .upper-part .icons .menu{
  z-index: 10;
}
.header .upper-part .icons .bell {
  position: relative;
}
.header .upper-part .icons .bell::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0px;
    right: 0px;
    background-color: var(--main-color);
    border-radius:var(--main-border-radius);
    -webkit-border-radius:var(--main-border-radius);
    -moz-border-radius:var(--main-border-radius);
    -ms-border-radius:var(--main-border-radius);
    -o-border-radius:var(--main-border-radius);
}
/* tab media */
@media (max-width: 668px) {
  .header .upper-part .icons .bell::after{
    width: 8px;
    height: 8px;
  }
}
.header .upper-part .logo img{
  height: var(--lab-xl-size);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.header .upper-part .points a{
  font-size:  var(--lab-l-size);
}
/* tab media */
@media (max-width: 768px) {
  .header .upper-part .icons  .menu, .bell {
    font-size: var(--tab-l-size);
  }
  .header .upper-part .logo img{
    height: var(--tab-xl-size);
  }
  .header .upper-part .points a{
    font-size:  var(--tab-l-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .header .upper-part .icons .menu, .bell {
    font-size: var(--mob-l-size);
  }
  .header .upper-part .logo img{
    height: var(--mob-xl-size);
  }
  .header .upper-part .points a{
    font-size: calc( var(--mob-l-size)- 2px);
  }
}
.header .upper-part .points a span{
  color: var(--main-text-color);
  font-weight: bold;
}
.header .upper-part .points a i{
  color: var(--main-color);
}
.header .lower-part {
  position: absolute;
  top: 62%;
  width: 100%;
  height: 40%;
  box-shadow:  0px 5px 10px  #0000002b, inset 0px 4px 10px #00000036;
}
.header .lower-part .categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .lower-part .categories .category {
  margin: 8px 5px 0 ;
  color: var(--main-text-color);
  font-size: var(--lab-xs-size);
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
.header .lower-part .categories .category:hover {
  color: var(--main-color);
}
/* tab media */
@media (max-width: 768px) {
  .header .lower-part .categories .category {
    font-size: var(--tab-xs-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .header .lower-part .categories .category {
    font-size: var(--mob-xs-size);
  }
}
/* End Header  */
/* Start mega menu */
/* for Mobile */
@media (max-width: 668px) {
  .mega-menu {
    position: absolute;
    background-color: var(--background-color-alt);
    width: 0;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    opacity: 0;
    border-right: 2px solid var(--main-color);
    scroll-behavior: smooth;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  #side-menu:checked ~ .mega-menu {
    width: 60%;
    opacity: 1;
  }
  .mega-menu .top-icon {
    position: relative;
    width: 100%;
    top: 20px;
    right: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mega-menu .top-icon .exit{
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 25px;
    border-radius: calc(var(--main-border-radius) - 4px);
    -webkit-border-radius: calc(var(--main-border-radius) - 4px);
    -moz-border-radius: calc(var(--main-border-radius) - 4px);
    -ms-border-radius: calc(var(--main-border-radius) - 4px);
    -o-border-radius: calc(var(--main-border-radius) - 4px);
  }
  .mega-menu .top-icon .exit i {
    font-size: var(--mob-xxl-size);
  }
  .mega-menu .top-icon .toggle {
    position: relative;
    width: 90px;
    height: 40px;
    background-color: var(--background-color);
    box-shadow:  inset -10px -10px 15px #00000041;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  .mega-menu .top-icon .toggle input#them {
    opacity: 0;
    width: 90px;
    height: 40px;
    cursor: pointer;
    position: absolute;
  }
  .top-icon .toggle label {
    position: absolute;
    right: 0;
}
  .top-icon .toggle label .icon {
    left: 0;
    width: 30px;
    height: 30px;
    margin: 5px;
    box-shadow: 4px 4px 7px #282828, -4px -4px 7px #00000026;
    pointer-events: none;
    transition: all 0.4s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .mega-menu .top-icon .toggle label .sun {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .sun {
    opacity: 1;
  }
  .top-icon .toggle input#them:checked + label .moon {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .icon {
    transform: translateX(-5px) rotate(360deg) ;
    -webkit-transform: translateX(-5px) rotate(360deg) ;
    -moz-transform: translateX(-5px) rotate(360deg) ;
    -ms-transform: translateX(-5px) rotate(360deg) ;
    -o-transform: translateX(-5px) rotate(360deg) ;
  }
  .mega-menu .links-sections:first-child {
    margin-top: 60px;
  }
  .mega-menu .links-sections, .mega-menu .social-links {
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .mega-menu .social-links {
    margin-bottom: 40px;
  }
  .mega-menu  .title h1 {
    font-size: var(--mob-l-size);
    color: var(--main-color);
  }
  .mega-menu  .links  li  {
    max-width: 85%;
    padding: 8px;
  }
  .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--seprator-color);
  }
  .mega-menu  .links  li a {
    color: var(--main-text-color);
    display: block;
  }
  .mega-menu .links li a i {
    color: var(--main-color);
    padding-left: 10px;
    font-size: var(--mob-xs-size);
  }
  .mega-menu .secondary-nav {
      position:sticky;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background-color: var(--background-color);
      border-top-right-radius: var(--main-border-radius);
      border-top-left-radius: var(--main-border-radius);
  }
  .mega-menu .secondary-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .mega-menu .secondary-nav ul li i {
    color: var(--main-color);
    font-size: var(--mob-xxl-size);
  }
}
/* For Tab */
@media (min-width:  669px) and (max-width: 768px) {
  .mega-menu {
    position: absolute;
    background-color: var(--background-color-alt);
    display: flex;
    width: 95%;
    left: 50%;
    top: calc(100% + 50px);
    gap: 10px;
    padding: 10px;
    z-index: -10;
    opacity: 0;
    visibility:hidden;
    border-bottom: 3px solid var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: top 0.3s ,opacity 0.3s;
    -webkit-transition: top 0.3s ,opacity 0.3s;
    -moz-transition: top 0.3s ,opacity 0.3s;
    -ms-transition: top 0.3s ,opacity 0.3s;
    -o-transition: top 0.3s ,opacity 0.3s;
  }
  #side-menu:checked ~ .mega-menu {
    visibility:visible;
    z-index: 100;
    opacity: 1;
    top: calc(100% + 10px);
  }
  .mega-menu .links-sections, .mega-menu .social-links{
    flex: 1;
    width: 30%;
  }
  .mega-menu .top-icon .exit{
    visibility: hidden;
    display: none;
  }
  .mega-menu .top-icon .toggle {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 30px;
    height: 60px;
    background-color: var(--background-color);
    box-shadow:  inset -10px -10px 15px #00000041;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .mega-menu .top-icon .toggle input#them {
    opacity: 0;
    width: 30px;
    height: 60px;
    cursor: pointer;
    position: absolute;
  }
  .top-icon .toggle label {
    position: absolute;
    right: 0;
}
  .top-icon .toggle label .icon {
    left: 0;
    width: 20px;
    height: 20px;
    margin: 4px 4px;
    box-shadow: 4px 4px 7px #282828, -4px -4px 7px #00000026;
    pointer-events: none;
    transition: all 0.4s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .mega-menu .top-icon .toggle label .sun {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .sun {
    opacity: 1;
  }
  .top-icon .toggle input#them:checked + label .moon {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .icon {
    transform: translateX(-2px) rotate(360deg) ;
    -webkit-transform: translateX(-2px) rotate(360deg) ;
    -moz-transform: translateX(-2px) rotate(360deg) ;
    -ms-transform: translateX(-2px) rotate(360deg) ;
    -o-transform: translateX(-2px) rotate(360deg) ;
}
  .mega-menu  .title{
    color: var(--main-color);
    text-align: center;
    min-width: 200px; 
    text-wrap: nowrap;
  }
  .mega-menu  .title h1 {
    text-align: center;
    font-size: 16px;
    min-width: 150px; 
  }
  .mega-menu  .links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu  .links  li {
    position: relative;
    min-width: 150px;
  }
  .mega-menu  .links  li::before{
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--seprator-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .mega-menu  .links  li:hover::before {
    width: 100%;
  }
  .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--seprator-color);
  }
  .mega-menu  .links  li a{
    display: block;
    padding: 10px;
    font-size: var(--mob-xs-size);
    color: var(--main-text-color);
  }
  .mega-menu .links li a i {
    margin-left: 15px ;
    color: var(--main-color);
  }
  .mega-menu .secondary-nav {
    position:fixed;
    left: 0px;
    top: 50%;
    padding: 10px;
    background-color: var(--background-color);
    transform: translateY(-50%);
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  
  .mega-menu .secondary-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu .secondary-nav ul li:not(:last-child) {
    padding-bottom: 10px;
  }
  .mega-menu .secondary-nav ul li i {
    color: var(--main-color);
    font-size: var(--mob-xs-size);
  }
}
/* for Laptop */
@media (min-width:768px) {
  .mega-menu {
    position: absolute;
    background-color: var(--background-color-alt);
    display: flex;
    width: 95%;
    left: 50%;
    top: calc(100% + 50px);
    gap: 30px;
    padding: 20px;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    border-bottom: 3px solid var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: top 0.3s ,opacity 0.3s;
    -webkit-transition: top 0.3s ,opacity 0.3s;
    -moz-transition: top 0.3s ,opacity 0.3s;
    -ms-transition: top 0.3s ,opacity 0.3s;
    -o-transition: top 0.3s ,opacity 0.3s;
  }
  #side-menu:checked ~ .mega-menu {
    visibility:visible;
    z-index: 100;
    opacity: 1;
    top: calc(100% + 10px);
  }
  .mega-menu .links-sections, .mega-menu .social-links{
    flex: 1;
  }
  .mega-menu .top-icon .exit{
    visibility: hidden;
    display: none;
  }
  .mega-menu .top-icon .toggle {
    position: absolute;
    left: 0px;
    top: 95px;
    width: 48px;
    height: 90px;
    background-color: var(--background-color);
    box-shadow:  inset -10px -10px 15px #00000041;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
  }
  .mega-menu .top-icon .toggle input#them {
    opacity: 0;
    width: 45px;
    height: 90px;
    cursor: pointer;
    position: absolute;
  }
  .top-icon .toggle label {
    position: absolute;
    right: 0;
}
  .top-icon .toggle label .icon {
    left: 0;
    width: 30px;
    height: 30px;
    margin:8px 7px 5px ;
    box-shadow: 4px 4px 7px #282828, -4px -4px 7px #00000026;
    pointer-events: none;
    transition: all 0.4s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .mega-menu .top-icon .toggle label .sun {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .sun {
    opacity: 1;
  }
  .top-icon .toggle input#them:checked + label .moon {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .icon {
    transform: translateX(-2px) rotate(360deg) ;
    -webkit-transform: translateX(-2px) rotate(360deg) ;
    -moz-transform: translateX(-2px) rotate(360deg) ;
    -ms-transform: translateX(-2px) rotate(360deg) ;
    -o-transform: translateX(-2px) rotate(360deg) ;
}
  .mega-menu  .title{
    color: var(--main-color);
    text-align: center;
    min-width: 200px; 
    text-wrap: nowrap;
  }
  .mega-menu  .title h1 {
    text-align: center;
  }
  .mega-menu  .links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu  .links  li {
    position: relative;
    min-width: 200px; 
  }
  .mega-menu  .links  li::before{
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--seprator-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .mega-menu  .links  li:hover::before {
    width: 100%;
  }
  .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--seprator-color);
  }
  .mega-menu  .links  li a{
    display: block;
    padding: 10px;
    font-size: var(--lab-xs-size);
    color: var(--main-text-color);
  }
  .mega-menu .links li a i {
    margin-left: 15px ;
    color: var(--main-color);
  }
  .mega-menu .secondary-nav {
    position:fixed;
    left: 0px;
    top: 60%;
    padding: 15px;
    background-color: var(--background-color);
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
  }
  .mega-menu .secondary-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu .secondary-nav ul li:not(:last-child) {
    padding-bottom: 20px;
  }
  .mega-menu .secondary-nav ul li i {
    color: var(--main-color);
    font-size: var(--lab-xs-size);
  }
}
/* End mega menu */
/* Start Nav */
.nav {
  background-color:var(--background-color-alt);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  box-shadow:var(--main-shadow);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
/* tab media */
@media (max-width: 768px){
  .nav {
    bottom: 2%;
  }
}
/* mobile media */
@media (max-width: 576px) {
  .nav {
    bottom: 1.5%;
  }
}
.nav .nav-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 0 5px;
  
}
.nav .nav-item.active label{
  color: var(--main-color);
  font-weight: 900;
}
.nav .nav-item.active i{
  color: var(--main-color);
}
.nav .nav-item a{
  font-size: var(--lab-xl-size);
  color: var(--main-text-color);
}
.nav .nav-item label{
  font-size: var(--lab-s-size);
  color: var(--main-text-color);
}
/* tab media */
@media (max-width: 768px) {
  .nav .nav-item a{
    font-size: var(--tab-xl-size);
  }
  .nav .nav-item label{
    font-size: var(--tab-s-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .nav .nav-item a{
    font-size: var(--mob-xl-size);  
  }
  .nav .nav-item label{
    font-size: var(--mob-s-size);
    padding-top: 5px;
  }
}
/* End Nav */
/* Start Ads */
.ads {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

}
.ads .welcome {
  margin: 50px auto;
}
/* tab & mobile media */
@media (max-width: 768px) {
  .ads .welcome {
    margin: 30px auto;
  }
}

.ads .welcome h2{
  color: var(--main-color);
  font-size: var(--lab-xl-size);
  text-align: center;
}
.ads .welcome p{
  margin: 10px auto;
  font-size: var(--lab-l-size);
}
/* tab media */
@media (max-width: 768px) {
  .ads .welcome h2 {
    font-size: var(--tab-xl-size);
  }
  .ads .welcome p{
    font-size: var(--tab-l-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .ads .welcome h2 {
    font-size: var(--mob-xl-size);
  }
  .ads .welcome p{
    font-size: var(--mob-l-size);
  }
}
.ads #tranding {
  padding: 4rem 0;
  width: 100%;
  margin-top: -90px;
}
/* tab  & mobile media */
@media (max-width: 768px) {
  .ads #tranding {
    margin-top: -80px;
  }
}

#tranding .tranding-slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0px 0;
}
#tranding .tranding-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%; /* عرض الصورة */
  height: calc(width * 0.4); /* طول الصورة */
  margin: 0 80px;
}
/* tab  media */
@media (max-width: 768px) {
  #tranding .tranding-slider .swiper-slide {
    width: 80%;
    margin: 0 50px;
  }
}
/* small tab media */
@media (max-width: 568px) {
  #tranding .tranding-slider .swiper-slide {
    margin: 0 35px;
  }
}
/* mobile media */
@media (max-width: 476px) {
  #tranding .tranding-slider .swiper-slide {
    margin: 0 25px;
  }
}
#tranding .tranding-slide .tranding-slide-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
/* End Ads */
/* Start Brands */
.brands {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;
}
.brands h3{
  position: relative;
  margin: 20px auto 40px;
  padding:  0 30px;
  font-size:calc( var(--lab-xl-size) - 2px);
  color: var(--main-color);
  background-color: var(--background-color); 
}
/*  tab media */
@media (max-width: 768px){
  .brands h3 {
    font-size: calc( var(--tab-xl-size) - 2px);
    margin: 20px auto 30px;
  }
  .brands {
    top: -50px;
    margin-bottom: 0px;
  }
}
/*  mobile media */
@media (max-width: 576px) {
  .brands h3 {
    font-size: calc( var(--mob-xl-size) - 2px);
    margin: 20px auto 20px;
  }
  .brands {
    margin-bottom: -40px;
  }
}
.brands  .upper-sep{
  position: absolute;
  top: 14%;
  width: 100%; 
  border-color:var(--seprator-color);
  border-style: solid;
  z-index: -1;
}
#branding{
  width: 100%;
}
#branding .branding-slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}
#branding .branding-slider .swiper-slide {
  width: 140px; /* عرض الصورة */
  height:140px;/* طول الصورة */
  margin: 10px 10px 20px ;
}

/* for large screen */
@media (max-width: 768px) {
  #branding .branding-slider .swiper-slide {
    width: 100px; /* عرض الصورة */
    height:100px;/* طول الصورة */
  }
}
/* for small screen */
@media (max-width: 576px) {
  #branding .branding-slider .swiper-slide {
    width: 80px; /* عرض الصورة */
    height:80px;/* طول الصورة */
    margin: 1px 5px 20px ;
  }
}
#branding .branding-slide .branding-slide-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

/* End Brands */
/* Start Products Section  */
hr.sep {
  margin-bottom: 50px;
  border-color: var(--seprator-color);
  border-style: solid;
}
#products {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 40px;
}
/* tab media */
@media (max-width: 868px) {
  hr.sep {
    margin-bottom: 40px;
  }
  #products {
    margin-bottom: 30px;
  }
}
/* mobile media */
@media (max-width: 576px) {
  hr.sep {
    margin-bottom: 30px;
  }
  #products {
    margin-bottom: 20px;
  }
}
#products .title {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 50px;
}
#products .title h2{
  font-size: var(--lab-xxl-size);
  color: var(--main-text-color);
}
#products .title i{
  font-size: var(--lab-xl-size);
  color: var(--main-color);
  margin-right: 30px;
}
/* tab media */
@media (max-width: 868px) {
  #products .title {
    margin-right: 25px;
    margin-bottom: 40px;
  }
  #products .title h2{
    font-size: var(--tab-xxxl-size);
  }
  #products .title i {
    font-size: var(--tab-xxl-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  #products .title {
    margin-right: 20px;
    margin-bottom: 30px;
  }
  #products .title h2{
    font-size: var(--mob-xxxl-size);
  }
  #products .title i {
    font-size: var(--mob-xxl-size);
  }
}
#products .products-slider{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-right: 20px;
}
/* tab media */
@media (max-width: 868px) {
  #products .products-slider {
    margin-right: 15px;
  }
}
/* mobile media */
@media (max-width: 576px) {
  #products .products-slider {
    margin-right: 8px;
  }
}
/* End Products Section  */
/* Start Footer  */
.footer {
  border-top: 2px solid var(--seprator-color) ;
  padding: 50px 20px;
  display: grid;
  grid-template-columns:repeat(10, 1fr);
  grid-template-areas: "links links info info info info info  social social";
  gap: 10px;
}
/* laptop */
@media (max-width: 992px) {
  .footer {
    grid-template-columns:repeat(10, 1fr);
    grid-template-areas: "links  info info info info info info . social ";
  }
}
/* tablet */
@media (max-width: 768px) {
  .footer {
    padding-top: 40px;
    grid-template-columns:repeat(8, 1fr);
    grid-template-areas: "links info info info info info social .";
  }
}
/* phone */
@media (max-width: 676px) {
  .footer {
    padding: 30px 0px 0;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "info info info info social social"
                         "links links links links links links";
    gap: 8px;
  }
}
.footer .links {
  grid-area: links;
  width: 250px;
}
/* tablet */
@media (max-width: 700px) {
  .footer .links {
    width: 200px;
  }
}
/* phone */
@media (max-width: 676px) {
  .footer .links {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
  }
  .footer .links .important-links {
    margin: 0 auto;
    width: 40%;
  }
}
.footer .important-links li{
  padding: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.footer .important-links li:not(:last-child) {
  border-bottom: 1px solid var(--seprator-color); 
}
.footer .important-links:not(:last-child) li:last-child {
  border-bottom: 1px solid var(--seprator-color); 
}
.footer .important-links li a{
  color: var(--main-text-color);
  font-size: var(--lab-m-size);
}
.footer .important-links li:hover {
  margin-right: 30px;
  color: var(--main-color);
}
.footer .important-links li:hover a{
  color: var(--main-color);
}
.footer .important-links li i {
  padding-left: 10px;
  color: var(--main-color);
  font-size: var(--lab-xs-size);
}
/* tablet */
@media (max-width: 868px) {
  .footer .important-links li a {
    font-size: var(--tab-m-size);
  }
}
/* phone */
@media (max-width: 576px) {
  .footer .important-links:not(:last-child) li:last-child {
    border-bottom: none;
  }
  .footer .important-links li a {
    font-size: var(--mob-m-size);
  }
}
.footer .info {
  grid-area: info;
  padding-right: 20px;
}
.footer .info h2 {
  font-size: var(--lab-xl-size);
  color: var(--main-color);
  margin-bottom: 20px;
  font-weight: 800;
}
.footer .info p{
  line-height: 1.5;
  word-spacing: 4px;
  font-size: var(--lab-s-size);
}
.footer .info .contact-us , .footer .info .location{
  padding: 20px 0 0 0;
}
.footer .info .contact-us h3 , .footer .info .location h3{
  font-size: var(--lab-l-size);
  color: var(--main-color);
  padding-bottom: 10px;
  font-weight: 600;
}
.footer .info .contact-us span{
  display: block;
  font-size: var(--lab-s-size);
  padding-bottom: 5px;
}
.footer .info .location p {
  font-size: var(--lab-s-size);
}
/* tablet */
@media (max-width: 868px) {
  .footer .info h2 {
    font-size: var(--tab-xl-size);
  }
  .footer .info p {
    font-size: var(--tab-xs-size);
  }
  .footer .info .contact-us h3 , .footer .info .location h3 {
    font-size: var(--tab-l-size);
  }
  .footer .info .contact-us span {
    font-size: var(--tab-s-size);
  }
  .footer .info .location p {
    font-size: var(--tab-s-size);
  }
}
/* phone */
@media (max-width: 576px) { 
  .footer .info {
    padding-right: 15px;
  }
  .footer .info h2 {
    font-size: var(--mob-xl-size);
    margin-bottom: 15px;
  }
  .footer .info p {
    font-size: var(--mob-m-size);
    line-height: 1.5;
  }
  .footer .info .contact-us h3 , .footer .info .location h3 {
    font-size: var(--mob-l-size);
    padding-bottom: 8px;
  }
  .footer .info .contact-us span {
    font-size: var(--mob-xs-size);
  }
  .footer .info .location p {
    font-size: var(--mob-xs-size);
  }
}
.footer .social {
  position: relative;
  left: -20%;
  grid-area: social;
}
.footer  .social .image{
  width: 200px;
  height: 200px;
}
/* tablet */
@media (max-width: 868px) {
  .footer  .social .image{
    width: 150px;
    height: 150px;
  }
}
/* phone */
@media (max-width: 676px) {  
  .footer .social {
    max-width: 120px;
  }
  .footer  .social .image{
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 576px) {  
  .footer .social {
    left: 0;
  }
}
@media (max-width: 386px) {  
  .footer .social {
    max-width: 100px;
    padding-top: 220px;
    padding-left: 100px;
  }
  .footer  .social .image{
    width: 100px;
    height: 100px;
  }
}
.footer  .social .image img{
  width: 100%;
  height: 100%;
  box-shadow: var(--main-shadow);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.footer .social .social-icons{
  margin-top: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .social .social-icons li{
  background-color: var(--background-color-alt);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--main-shadow);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.footer .social .social-icons li.facebook:hover  {
  background-color:#1877f2;
}
.footer .social .social-icons li.instagram:hover  {
  background-color: #c13584;
}
.footer .social .social-icons li.whatsapp:hover  {
  background-color:#25d366;
}
.footer .social li a i {
  font-size: var(--lab-xxl-size);
}
/* tablet */
@media (max-width: 868px) {
  .footer .social .social-icons {
    width: 150px;
    margin-top: 15px;
  }
  .footer .social .social-icons li {
    width: 42px;
    height: 42px;
  }
  .footer .social li a i {
    font-size: var(--tab-xxl-size);
  }
}
/* phone */
@media (max-width: 676px) {
  .footer .social .social-icons {
    width: 120px;
    margin-top: 10px;
  }
  .footer .social .social-icons li {
    width: 35px;
    height: 35px;
  }
  .footer .social li a i {
    font-size: var(--mob-xxl-size);
  }
}
@media (max-width: 386px) {  
  .footer .social .social-icons {
    width: 100px;
    margin-top: 8px;
  }
  .footer .social .social-icons li {
    width: 30px;
    height: 30px;
  }
  .footer .social li a i {
    font-size: var(--mob-xl-size);
  }
}
.footer .social li a i.facebook {
  color: #1877f2;
}
.footer .social li a i.instagram {
  color: #c13584;
}
.footer .social li a i.whatsapp {
  color: #25d366;
}
.footer .social li:hover a i {
  color: var(--background-color-alt);
}
.copy-rights {
  width: 100%;
  border-top: 1px solid var(--seprator-color) ;
  background-color: var(--background-color-alt);
  text-align: center;
  padding: 20px 0 100px;
  margin-top: 20px;
  box-shadow: 0 1px 10px rgba(54, 54, 54, 0.839);
}
.copy-rights p {
  padding-bottom: 10px;
  font-size: var(--lab-s-size);
}
.copy-rights p span{
  color: var(--main-color);
  font-weight: 900;
}
.copy-rights span{
  font-size: var(--lab-xs-size);
}
/* tablet */
@media (max-width: 768px) {
  .copy-rights {
    padding: 10px 0 80px;
  }
  .copy-rights p{
    font-size: var(--tab-s-size);
  }
  .copy-rights span{
    font-size: var(--tab-xs-size);
  }
}
/* phone */
@media (max-width: 576px) {
  .copy-rights {
    padding: 10px 0 80px;
    margin-top: 0;
  }
  .copy-rights p{
    font-size: var(--mob-xs-size);
  }
  .copy-rights span{
    font-size: var(--mob-xs-size);
  }
}
/* End Footer  */
/* ====================================  Search Page  ========================================================== */
/* Start Search Bar */

.search-bar {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 120px;
}
.search-bar .search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar .search .search-input{
  display: inline-block;
  width: 50%;
  height: 50px;
  padding: 10px;
  margin-left: 10px;
  background-color: var(--seprator-color);
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search-bar .search .search-input::placeholder{
 color: var(--disaple-text-color);
 font-size: var(--lab-m-size);
}
/* tablet */
@media (max-width: 768px) {
  .search-bar .search .search-input {
    height: 40px;
    width: 60%;
  }
  .search-bar .search .search-input::placeholder{
    font-size: var(--tab-m-size);
  }
}
/* phone */
@media (max-width: 576px) {
  .search-bar .search .search-input {
    width: 70%;
    height: 35px;
  }
  .search-bar .search .search-input::placeholder{
    font-size: var(--mob-xs-size);
  }
}
.search-bar .search .search-input:focus{
  outline: 2px solid var(--main-color) ;
  color: var(--main-text-color);
  caret-color: var(--main-color);  
}
.search-bar .filter-container {
  position: relative;
  display: inline-block;
}
.search-bar .filter-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--seprator-color);
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  margin-bottom: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search-bar .filter-toggle i {
  font-size: var(--lab-xl-size);
  color: var(--disaple-text-color);
}
/* tablet */
@media (max-width: 768px) {
  .search-bar .filter-toggle {
    width: 40px;
    height: 40px;
  }
  .search-bar .filter-toggle i {
    font-size: var(--tab-xl-size);
  }
}
/* phone */
@media (max-width: 576px) {
  .search-bar .filter-toggle {
    width: 35px;
    height: 35px;
  }
  .search-bar .filter-toggle i {
    font-size: var(--mob-xl-size);
  }
}

.search-bar .filter-options {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  background-color:var(--background-color-alt);
  width: 400px;
  max-width: 400px;
  max-height: 350px;
  overflow-y: auto;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}

.search-bar .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-bar .filter-header h2 {
  margin: 0;
  font-size: var(--lab-l-size);
  color: var(--main-text-color);
}

.search-bar .close-filter {
  background: none;
  border: none;
  font-size: var(--lab-xl-size);
  cursor: pointer;
  color: rgba(191, 5, 5, 0.854);
}
/* tablet */
@media (max-width: 768px) {
  .search-bar .filter-options {
    width: 350px;
    max-width: 350px;
  }
  .search-bar .filter-header h2 {
    font-size: var(--tab-l-size);
  }
}
/* phone */
@media (max-width: 576px) {
  .search-bar .filter-options {
    width: 320px;
    max-width: 320px;
  }
  .search-bar .filter-header h2 {
    font-size: var(--mob-l-size);
  }
}
.search-bar .filter-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.search-bar .filter-tab {
  background-color: var(--seprator-color);
  color: var(--disaple-text-color);
  font-size: var(--lab-s-size);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* tablet */
@media (max-width: 768px) {
  .search-bar .filter-tab {
    font-size: var(--tab-s-size);
  }
}
/* phone */
@media (max-width: 576px) {
  .search-bar .filter-tab {
    font-size: var(--mob-xs-size);
    padding: 8px;
  }
}
.search-bar .filter-tab.selected {
  font-weight: 900;
  background-color: var(--main-color);
  color: #ececec;
}

.search-bar .filter-content .filter-group {
  display: none;
  margin-bottom: 15px;
}
.search-bar .filter-content .filter-group.active {
  display: block;
  margin-bottom: 15px;
}
.filter-group-template {
  display: none; /* إخفاء الفلاتر المخفية */
}
.search-bar .filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.search-bar .filter-group input,
.search-bar .filter-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--seprator-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.price-range {
  display: flex;
  gap: 10px; 
}
.price-range input {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--seprator-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search-bar .apply-filters {
  width: 100%;
  font-size: var(--lab-xs-size);
  background-color: var(--main-color);
  color: #ececec;
  font-weight: 900;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* tablet */
@media (max-width: 768px) {
  .search-bar .apply-filters {
    font-size: var(--tab-m-size);
  }
}
/* phone */
@media (max-width: 576px) {
  .search-bar .apply-filters {
    font-size: var(--mob-xs-size);
  }
}
/* End Search Bar */
/* Start Searched-products  */
.searched-products {
  position: relative;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searched-products .container {
  min-width: 100%;
}
.searched-products .products-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 793px) {
  .searched-products  .product-box {
    width: 240px; /*عرض المنتج*/
    height:310px; /*طول المنتج*/
    margin: 10px 5px 10px ;
  }
}
.searched-products .product-box .product-info {
  padding: 10px;
}
.searched-products .product-box .product-name {
  font-size: var(--tab-m-size);
}
.searched-products .product-box .product-description {
  font-size: var(--tab-s-size);
  padding-bottom: 10px;
}
/* Tab media  */
@media (max-width: 792px) {
  .searched-products .container {
    min-width: 100%;
    max-width: 100%;
  }
  .searched-products .products-cards {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
/* End Searched-products  */
/* Start Pagination  */
.pagination-container {
  padding-bottom: 30px;
}
.pagination-container .container {
  width: 250px;
}
.pagination {
  background-color: var(--background-color-alt);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px ;
  box-shadow: var(--main-shadow);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.pagination .previous , .pagination .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  cursor: pointer;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pagination .previous i , .pagination .next i {
  color: var(--main-color);
  font-size: var(--lab-xl-size);
  padding: 5px;
}
.pagination .disapled {
  border-color: var(--disaple-text-color);
  background-color: var(--seprator-color);
  cursor: auto;
}
.pagination .disapled i{
  color: var(--disaple-text-color);
}
.pagination .page-number {
  font-size: var(--lab-l-size);
  color: var(--main-text-color);
  margin: 0 10px ;
}
.pagination .page-number .from{
  color: var(--main-color);
  margin: 0 5px;
}
/*  tab media */
@media (max-width: 768px){
  .pagination-container .container {
    width: 220px;
  }
  .pagination .previous , .pagination .next {
    width: 40px;
    height: 40px;
  }
  .pagination .previous i , .pagination .next i {
    font-size: var(--tab-xl-size);
  }
  .pagination .page-number {
    font-size: var(--tab-l-size);
  }
}
/*  mobile media */
@media (max-width: 576px) {
  .pagination-container .container {
    width: 180px;
  }
  .pagination .previous , .pagination .next {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }
  .pagination .previous i , .pagination .next i {
    font-size: var(--mob-l-size);
  }
  .pagination .page-number {
    font-size: var(--mob-l-size);
  }
}
/* End Pagination  */