/* Start Varibules */
:root {
  /* colors */
  --main-color:#B18E4B;
  --main-text-color:#ececec;
  --background-color: #232323;
  --background-color-alt: #292929;
  --seprator-color: #484848;
  /* labtop sizing varibules  */
  --lab-xxl-size: 48px;
  --lab-xl-size: 32px;
  --lab-l-size: 24px;
  --lab-m-size: 21px;
  --lab-xs-size: 18px;
  --lab-s-size: 16px;
  /* Tablet sizing varibules  */
  --tab-xxxl-size: 42px;
  --tab-xxl-size: 32px;
  --tab-xl-size: 24px;
  --tab-l-size: 21px;
  --tab-m-size: 18px;
  --tab-xs-size: 16px;
  --tab-s-size: 14px;
  /* mobile sizing varibules  */
  --mob-xxxl-size: 32px;
  --mob-xxl-size: 24px;
  --mob-xl-size: 21px;
  --mob-l-size: 18px;
  --mob-m-size: 16px;
  --mob-xs-size: 14px;
  --mob-s-size: 10px;
  /* another varibules */
  --main-border-radius: 10px;
}
.light-them {
    --main-color:#B18E4B;
    --main-text-color:#424242;
    --background-color: #f5f5f5;
    --background-color-alt: #DADADA;
  }
  /* End Varibules */
  /* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
    scrollbar-color:  var(--main-color) var(--background-color);
    scrollbar-width: thin;
  }
body {
    font-family: "Almarai", sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
  }
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
a {
    text-decoration: none;
  }
::-webkit-scrollbar {  
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-color-alt);
}
.container {
    padding: 0 15px 0;
    margin: 0 auto 0;
  }
  /* phone */
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  /* tablet */
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  /* laptop */
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  /* screen */
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

/* Start Header  */
.header {
  background-color: var(--background-color-alt);
  position: relative;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 5;
}
.header .upper-part {
  position: absolute;
  top: 0;
  padding: 0 30px;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .upper-part .icons .menu, .bell {
  color: var(--main-text-color);
  font-size: var(--lab-l-size);
  margin-left: 10px;
  cursor: pointer;
}
.header .upper-part .icons .menu{
  z-index: 10;
}
.header .upper-part .icons .bell {
  position: relative;
}
.header .upper-part .icons .bell::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0px;
    right: 0px;
    background-color: var(--main-color);
    border-radius:var(--main-border-radius);
    -webkit-border-radius:var(--main-border-radius);
    -moz-border-radius:var(--main-border-radius);
    -ms-border-radius:var(--main-border-radius);
    -o-border-radius:var(--main-border-radius);
}
/* tab media */
@media (max-width: 668px) {
  .header .upper-part .icons .bell::after{
    width: 8px;
    height: 8px;
  }
}
.header .upper-part .logo img{
  height: var(--lab-xl-size);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.header .upper-part .points a{
  font-size:  var(--lab-l-size);
}
/* tab media */
@media (max-width: 768px) {
  .header .upper-part .icons  .menu, .bell {
    font-size: var(--tab-l-size);
  }
  .header .upper-part .logo img{
    height: var(--tab-xl-size);
  }
  .header .upper-part .points a{
    font-size:  var(--tab-l-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .header .upper-part .icons .menu, .bell {
    font-size: var(--mob-l-size);
  }
  .header .upper-part .logo img{
    height: var(--mob-xl-size);
  }
  .header .upper-part .points a{
    font-size: calc( var(--mob-l-size)- 2px);
  }
}
.header .upper-part .points a span{
  color: var(--main-text-color);
  font-weight: bold;
}
.header .upper-part .points a i{
  color: var(--main-color);
}
.header .lower-part {
  position: absolute;
  top: 62%;
  width: 100%;
  height: 40%;
  box-shadow:  0px 5px 10px  #0000002b, inset 0px 4px 10px #00000036;
  
}
.header .lower-part .categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .lower-part .categories .category {
  margin: 8px 5px 0 ;
  color: var(--main-text-color);
  font-size: var(--lab-xs-size);
}
/* tab media */
@media (max-width: 768px) {
  .header .lower-part .categories .category {
    font-size: var(--tab-xs-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .header .lower-part .categories .category {
    font-size: var(--mob-xs-size);
  }
}
/* End Header  */
/* Start mega menu */
/* for Mobile */
@media (max-width: 668px) {
  .mega-menu {
    position: absolute;
    background-color: var(--background-color-alt);
    width: 0;
    height: 100vh;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 10;
    opacity: 0;
    border-right: 2px solid var(--main-color);
    scroll-behavior: smooth;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.542); /* تغبيش الخلفية */
    display: none; /* مخفية افتراضيًا */
    z-index: 9;
    transition: opacity 0.3s ease;
  }
  #side-menu:checked ~ .mega-menu {
    width: 60%;
    opacity: 1;
  }
  #side-menu:checked ~ .overlay {
    display: block;
  }
  .mega-menu .top-icon {
    position: relative;
    width: 100%;
    top: 20px;
    right: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mega-menu .top-icon .exit{
    background-color: var(--main-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 25px;
    border-radius: calc(var(--main-border-radius) - 4px);
    -webkit-border-radius: calc(var(--main-border-radius) - 4px);
    -moz-border-radius: calc(var(--main-border-radius) - 4px);
    -ms-border-radius: calc(var(--main-border-radius) - 4px);
    -o-border-radius: calc(var(--main-border-radius) - 4px);
  }
  .mega-menu .top-icon .exit i {
    font-size: var(--mob-xxl-size);
  }
  .mega-menu .top-icon .toggle {
    position: relative;
    width: 90px;
    height: 40px;
    background-color: var(--background-color);
    box-shadow:  inset -10px -10px 15px #00000041;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }
  .mega-menu .top-icon .toggle input#them {
    opacity: 0;
    width: 90px;
    height: 40px;
    cursor: pointer;
    position: absolute;
  }
  .top-icon .toggle label {
    position: absolute;
    right: 0;
}
  .top-icon .toggle label .icon {
    left: 0;
    width: 30px;
    height: 30px;
    margin: 5px;
    box-shadow: 4px 4px 7px #282828, -4px -4px 7px #00000026;
    pointer-events: none;
    transition: all 0.4s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .mega-menu .top-icon .toggle label .sun {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .sun {
    opacity: 1;
  }
  .top-icon .toggle input#them:checked + label .moon {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .icon {
    transform: translateX(-5px) rotate(360deg) ;
    -webkit-transform: translateX(-5px) rotate(360deg) ;
    -moz-transform: translateX(-5px) rotate(360deg) ;
    -ms-transform: translateX(-5px) rotate(360deg) ;
    -o-transform: translateX(-5px) rotate(360deg) ;
  }
  .mega-menu .links-sections:first-child {
    margin-top: 60px;
  }
  .mega-menu .links-sections, .mega-menu .social-links {
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .mega-menu .social-links {
    margin-bottom: 40px;
  }
  .mega-menu  .title h1 {
    font-size: var(--mob-l-size);
    color: var(--main-color);
  }
  .mega-menu  .links  li  {
    max-width: 85%;
    padding: 8px;
  }
  .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--seprator-color);
  }
  .mega-menu  .links  li a {
    color: var(--main-text-color);
    display: block;
  }
  .mega-menu .links li a i {
    color: var(--main-color);
    padding-left: 10px;
    font-size: var(--mob-xs-size);
  }
  .mega-menu .secondary-nav {
      position:sticky;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background-color: var(--background-color);
      border-top-right-radius: var(--main-border-radius);
      border-top-left-radius: var(--main-border-radius);
  }
  .mega-menu .secondary-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .mega-menu .secondary-nav ul li i {
    color: var(--main-color);
    font-size: var(--mob-xxl-size);
  }
}
/* For Tab */
@media (min-width:  669px) and (max-width: 767px) {
  .mega-menu {
    position: absolute;
    background-color: var(--background-color-alt);
    display: flex;
    width: 95%;
    left: 50%;
    top: calc(100% + 50px);
    gap: 10px;
    padding: 10px;
    z-index: -10;
    opacity: 0;
    border-bottom: 3px solid var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: top 0.3s ,opacity 0.3s;
    -webkit-transition: top 0.3s ,opacity 0.3s;
    -moz-transition: top 0.3s ,opacity 0.3s;
    -ms-transition: top 0.3s ,opacity 0.3s;
    -o-transition: top 0.3s ,opacity 0.3s;
  }
  #side-menu:checked ~ .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 10px);
  }
  .mega-menu .links-sections, .mega-menu .social-links{
    flex: 1;
    width: 30%;
  }
  .mega-menu .top-icon .exit{
    visibility: hidden;
    display: none;
  }
  .mega-menu .top-icon .toggle {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 30px;
    height: 60px;
    background-color: var(--background-color);
    box-shadow:  inset -10px -10px 15px #00000041;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .mega-menu .top-icon .toggle input#them {
    opacity: 0;
    width: 30px;
    height: 60px;
    cursor: pointer;
    position: absolute;
  }
  .top-icon .toggle label {
    position: absolute;
    right: 0;
}
  .top-icon .toggle label .icon {
    left: 0;
    width: 20px;
    height: 20px;
    margin: 4px 4px;
    box-shadow: 4px 4px 7px #282828, -4px -4px 7px #00000026;
    pointer-events: none;
    transition: all 0.4s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .mega-menu .top-icon .toggle label .sun {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .sun {
    opacity: 1;
  }
  .top-icon .toggle input#them:checked + label .moon {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .icon {
    transform: translateX(-2px) rotate(360deg) ;
    -webkit-transform: translateX(-2px) rotate(360deg) ;
    -moz-transform: translateX(-2px) rotate(360deg) ;
    -ms-transform: translateX(-2px) rotate(360deg) ;
    -o-transform: translateX(-2px) rotate(360deg) ;
}
  .mega-menu  .title{
    color: var(--main-color);
    text-align: center;
    min-width: 200px; 
    text-wrap: nowrap;
  }
  .mega-menu  .title h1 {
    text-align: center;
    font-size: 16px;
    min-width: 150px; 
  }
  .mega-menu  .links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu  .links  li {
    position: relative;
    min-width: 150px;
  }
  .mega-menu  .links  li::before{
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--seprator-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .mega-menu  .links  li:hover::before {
    width: 100%;
  }
  .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--seprator-color);
  }
  .mega-menu  .links  li a{
    display: block;
    padding: 10px;
    font-size: var(--mob-xs-size);
    color: var(--main-text-color);
  }
  .mega-menu .links li a i {
    margin-left: 15px ;
    color: var(--main-color);
  }
  .mega-menu .secondary-nav {
    position:fixed;
    left: 0px;
    top: 50%;
    padding: 10px;
    background-color: var(--background-color);
    transform: translateY(-50%);
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  
  .mega-menu .secondary-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu .secondary-nav ul li:not(:last-child) {
    padding-bottom: 10px;
  }
  .mega-menu .secondary-nav ul li i {
    color: var(--main-color);
    font-size: var(--mob-xs-size);
  }
}
/* for Laptop */
@media (min-width:768px) {
  .mega-menu {
    position: absolute;
    background-color: var(--background-color-alt);
    display: flex;
    width: 95%;
    left: 50%;
    top: calc(100% + 50px);
    gap: 30px;
    padding: 20px;
    z-index: -10;
    opacity: 0;
    border-bottom: 3px solid var(--main-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: top 0.3s ,opacity 0.3s;
    -webkit-transition: top 0.3s ,opacity 0.3s;
    -moz-transition: top 0.3s ,opacity 0.3s;
    -ms-transition: top 0.3s ,opacity 0.3s;
    -o-transition: top 0.3s ,opacity 0.3s;
  }
  #side-menu:checked ~ .mega-menu {
    z-index: 100;
    opacity: 1;
    top: calc(100% + 10px);
  }
  .mega-menu .links-sections, .mega-menu .social-links{
    flex: 1;
  }
  .mega-menu .top-icon .exit{
    visibility: hidden;
    display: none;
  }
  .mega-menu .top-icon .toggle {
    position: absolute;
    left: 0px;
    top: 95px;
    width: 48px;
    height: 90px;
    background-color: var(--background-color);
    box-shadow:  inset -10px -10px 15px #00000041;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
  }
  .mega-menu .top-icon .toggle input#them {
    opacity: 0;
    width: 45px;
    height: 90px;
    cursor: pointer;
    position: absolute;
  }
  .top-icon .toggle label {
    position: absolute;
    right: 0;
}
  .top-icon .toggle label .icon {
    left: 0;
    width: 30px;
    height: 30px;
    margin:8px 7px 5px ;
    box-shadow: 4px 4px 7px #282828, -4px -4px 7px #00000026;
    pointer-events: none;
    transition: all 0.4s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  .mega-menu .top-icon .toggle label .sun {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .sun {
    opacity: 1;
  }
  .top-icon .toggle input#them:checked + label .moon {
    opacity: 0;
  }
  .top-icon .toggle input#them:checked + label .icon {
    transform: translateX(-2px) rotate(360deg) ;
    -webkit-transform: translateX(-2px) rotate(360deg) ;
    -moz-transform: translateX(-2px) rotate(360deg) ;
    -ms-transform: translateX(-2px) rotate(360deg) ;
    -o-transform: translateX(-2px) rotate(360deg) ;
}
  .mega-menu  .title{
    color: var(--main-color);
    text-align: center;
    min-width: 200px; 
    text-wrap: nowrap;
  }
  .mega-menu  .title h1 {
    text-align: center;
  }
  .mega-menu  .links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu  .links  li {
    position: relative;
    min-width: 200px; 
  }
  .mega-menu  .links  li::before{
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--seprator-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .mega-menu  .links  li:hover::before {
    width: 100%;
  }
  .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid var(--seprator-color);
  }
  .mega-menu  .links  li a{
    display: block;
    padding: 10px;
    font-size: var(--lab-xs-size);
    color: var(--main-text-color);
  }
  .mega-menu .links li a i {
    margin-left: 15px ;
    color: var(--main-color);
  }
  .mega-menu .secondary-nav {
    position:fixed;
    left: 0px;
    top: 60%;
    padding: 15px;
    background-color: var(--background-color);
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
  }
  .mega-menu .secondary-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mega-menu .secondary-nav ul li:not(:last-child) {
    padding-bottom: 20px;
  }
  .mega-menu .secondary-nav ul li i {
    color: var(--main-color);
    font-size: var(--lab-xs-size);
  }
}
/* End mega menu */
/* Start Nav */
.nav {
  background-color:var(--background-color-alt);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  box-shadow: 10px 8px 10px #0000002b;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
/* tab media */
@media (max-width: 768px){
  .nav {
    bottom: 2%;
  }
}
/* mobile media */
@media (max-width: 576px) {
  .nav {
    bottom: 1.5%;
  }
}
.nav .nav-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 0 5px;
  
}
.nav .nav-item.active label{
  color: var(--main-color);
  font-weight: 900;
}
.nav .nav-item.active i{
  color: var(--main-color);
}
.nav .nav-item a{
  font-size: var(--lab-xl-size);
  color: var(--main-text-color);
}
.nav .nav-item label{
  font-size: var(--lab-s-size);
  color: var(--main-text-color);
}
/* tab media */
@media (max-width: 768px) {
  .nav .nav-item a{
    font-size: var(--tab-xl-size);
  }
  .nav .nav-item label{
    font-size: var(--tab-s-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .nav .nav-item a{
    font-size: var(--mob-xl-size);  
  }
  .nav .nav-item label{
    font-size: var(--mob-s-size);
    padding-top: 5px;
  }
}
/* End Nav */
/* Start Ads */
.ads {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

}
.ads .welcome {
  margin: 50px auto;
}
/* tab & mobile media */
@media (max-width: 768px) {
  .ads .welcome {
    margin: 30px auto;
  }
}

.ads .welcome h2{
  color: var(--main-color);
  font-size: var(--lab-xl-size);
  text-align: center;
}
.ads .welcome p{
  margin: 10px auto;
  font-size: var(--lab-l-size);
}
/* tab media */
@media (max-width: 768px) {
  .ads .welcome h2 {
    font-size: var(--tab-xl-size);
  }
  .ads .welcome p{
    font-size: var(--tab-l-size);
  }
}
/* mobile media */
@media (max-width: 576px) {
  .ads .welcome h2 {
    font-size: var(--mob-xl-size);
  }
  .ads .welcome p{
    font-size: var(--mob-l-size);
  }
}
.ads #tranding {
  padding: 4rem 0;
  width: 100%;
  margin-top: -90px;
}
/* tab  & mobile media */
@media (max-width: 768px) {
  .ads #tranding {
    margin-top: -80px;
  }
}

#tranding .tranding-slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0px 0;
}
#tranding .tranding-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%; /* عرض الصورة */
  height: calc(width * 0.4); /* طول الصورة */
  margin: 0 80px;
}
/* tab  media */
@media (max-width: 768px) {
  #tranding .tranding-slider .swiper-slide {
    width: 80%;
    margin: 0 50px;
  }
}
/* small tab media */
@media (max-width: 568px) {
  #tranding .tranding-slider .swiper-slide {
    margin: 0 35px;
  }
}
/* mobile media */
@media (max-width: 476px) {
  #tranding .tranding-slider .swiper-slide {
    margin: 0 25px;
  }
}
#tranding .tranding-slide .tranding-slide-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
/* End Ads */
/* Start Brands */
.brands {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.brands h3{
  position: relative;
  margin: 20px auto 40px;
  padding:  0 30px;
  font-size:calc( var(--lab-xl-size) - 2px);
  color: var(--main-text-color);
  background-color: var(--background-color); 
}
/*  tab media */
@media (max-width: 768px){
  .brands h3 {
    font-size: calc( var(--tab-xl-size) - 2px);
    margin: 20px auto 30px;
  }
  .brands {
    top: -50px;
  }
}
/*  mobile media */
@media (max-width: 576px) {
  .brands h3 {
    font-size: calc( var(--mob-xl-size) - 2px);
    margin: 20px auto 20px;
  }
}
.brands .lower-sep , .upper-sep{
  width: 100%; 
  border-color:var(--seprator-color);
  z-index: -1;
}
.brands .upper-sep {
  position: absolute;
  top: 10%
}
#branding{
  width: 100%;
}
#branding .branding-slider {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}
#branding .branding-slider .swiper-slide {
  width: 140px; /* عرض الصورة */
  height:140px;/* طول الصورة */
  margin: 10px 10px 20px ;
}

/* for large screen */
@media (max-width: 768px) {
  #branding .branding-slider .swiper-slide {
    width: 100px; /* عرض الصورة */
    height:100px;/* طول الصورة */
  }
}
/* for small screen */
@media (max-width: 576px) {
  #branding .branding-slider .swiper-slide {
    width: 80px; /* عرض الصورة */
    height:80px;/* طول الصورة */
    margin: 1px 5px 20px ;
  }
}
#branding .branding-slide .branding-slide-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.brands .lower-sep {
  margin-bottom: 100px;
}
/* End Brands */
/* Start Products Section  */
/* End Products Section  */
